$background-primary: #dbe6f8;
$background-secondary: #bc304e;

$color-primary: #cfdcbe;
$border-primary: #007bff;

$pages-title: #f9f9f9;
$background-button: #C0C0C0FF;
$background-like: #de94a4;

$background-disabled: #e0e0e0;
$color-disabled: #b0b0b0;
$border-disabled: #d0d0d0;


